[data-theme='true' ] {
    --dark: #001323;
    --gray: #282D32;
    --yellow: #f9b233;
    --pastel: #fbdab8;
    --red-ligth: #fce6e1;
    --red: #e6332a;
    --blue-os: #0149a78a;
  }

  .container-all-form{
    padding-top: 4rem;
  }
  
  .Po-contacto{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 88rem;
    height: 6rem;
    font-size: 3rem;
    padding-right: 3rem;
    border-right: 0.5rem solid var(--red);
}

[data-theme='true'] .Po-contacto {
    transition: all .5s ease-in-out;
    /* z-index: 1; */
    color: white;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-form{
    padding-top: 5rem;
    padding-bottom: 8rem;
    width: 81rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    border-right: 0.5rem solid var(--red);
}

.container-form-item{
    width: 45rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.container-form-item label{
    width: 18rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: darkblue;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding-left: 1rem;

}

.container-form-item input{
    width: 32rem;
    border: none;
    height: 2rem;
    background: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    padding-left: 1rem;
    text-decoration: none;
    -webkit-appearance: none
}

[data-theme='true'] .container-form-item label {
    transition: all .5s ease-in-out;
    /* z-index: 1; */
    background: var(--blue);
}

.container-form-item textarea{
    width: 32rem;
    display: flex;
    background: var(--blue);
    border: none;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
}

form button{
    width: 12.3rem;
    height: 2rem;
    border: none;
    color: var(--blue);
    font-weight: 600;
    font-size: 1.2rem;
    background: none;
    cursor: pointer;
}

[data-theme='true'] form button{
    transition: all .5s ease-in-out;
    /* z-index: 1; */
    color: white;
}