:root{
  --Dark: #001323;
  --gray: #282d32;
  --yellow: #f9b233;
  --melon: #fbdab8;
  --pink-light: #fce6e1;
  --red: #e6332a80;
  --blue: #0149a78e;
}

[data-theme='true' ] {
  --background: #05010a;
  --text-primary: #f2f2f2;
  --text-secondary: #a7a4a4;
  --accent: #6a5acd;
  --accent-hover: #5b4cbe;
  --border: #696969;
  --shadow: 7px 15px 13px -4px #ffffff1b;
}

body{
  background: white;
  color: black;
  font-family: Lato;
}

*{
  box-sizing: border-box;
}

[data-theme='true'] {
  transition: all .5s ease-in-out;
  background: var(--Dark);
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s;
}

.show{
  opacity: 1;
}


a{
  text-decoration: none;
}